{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            {# Dinamiser le nom du site #}
            <h1 class="col-12 text-center my-5"> Le Blog de Batman </h1>

        </div>

        <div class="row">

            <h2 class="text-center col-12 my-4">Lorem ipsum dolor sit amet,</h2>

            <p class="col-12 col-md-10 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi cumque, delectus distinctio ex harum id impedit minima, necessitatibus nihil saepe sapiente sequi soluta suscipit voluptates? Assumenda, cumque dolorem eius eveniet hic illum iste libero molestiae nihil pariatur placeat quae sit. Ad dignissimos doloribus iusto labore maiores molestias, numquam quasi!</p>

        </div>

        {# Affichage du bandeau avec l'image fixe #}
        <div class="row my-5 bataman-cover"></div>

        {# TODO: Afficher les 3 dernier articles #}
        <div class="row">

        </div>

        <div class="row mb-5">

            <h2 class="text-center col-12 my-">Lorem ipsum dolor sit amet,</h2>

            <p class="col-12 col-md-10 mx-auto text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi cumque, delectus distinctio ex harum id impedit minima, necessitatibus nihil saepe sapiente sequi soluta suscipit voluptates? Assumenda, cumque dolorem eius eveniet hic illum iste libero molestiae nihil pariatur placeat quae sit. Ad dignissimos doloribus iusto labore maiores molestias, numquam quasi!</p>

        </div>

    </div>


{% endblock %}
