{# Route de la page d'acceuil #}
{% set route = app.request.attributes.get('_route') %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Font-Awsome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {# Bootstrap CSS #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

    {# Styles #}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    {# Block title #}
    {# TODO: Dynamiser le nom du site #}
    <title>{% block title %}{% endblock %} - Le BLog de Batman</title>

    {# BLock css #}
    {% block css %}{% endblock %}


</head>

<body>
    <main>

        {# Menu principale #}
        {% include 'partials/_main_navbar.html.twig' %}

        {# Block body #}
        {% block body %}{% endblock %}

    </main>

    {# Bootstrap JS #}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    {# Block JS #}
    {% block js %}{% endblock %}

</body>
</html>